/* auth.css */

.Login {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.login-form {
  display: flex;
  padding: 1rem;
  flex-direction: column;
  align-items: center;
}

.support {
  position: absolute;
  color: var(--light);
  filter: opacity(0.5);
  bottom: 1%;
  right: 1%;
  transition: all 0.2s;
}

.support:hover {
  filter: opacity(1);
  cursor: pointer;
}

.Login form {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.Login form label {
  font-size: 1.2rem;
  filter: opacity(0.8);
}

.Login form input {
  min-width: 20rem;
  margin-top: 0.4rem;
  margin-bottom: 0.6rem;
  padding-left: 0.8rem;
  min-height: 2.2rem;
  border-radius: 0.2rem;
  background: none;
  border: var(--secondary-dark) 1px solid;
}

.reg-ls{
  background: var(--primary);
}

.Login .foot {
  font-size: 0.8rem;
  width: 21rem;
  display: flex;
}

.Login .foot .rem {
  width: 50%;
  display: flex;
}

.Login .foot .rem .remme {
  min-width: 60%;
}

/* New styles for the line and white box */
.Login form button {
  margin-top: 1rem;
}

.Login form::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid #ccc; /* Change the color as needed */
  margin: 1rem 0;
}

.google-box {
  margin-top: 1rem;
  background-color: #fff;
  color: #000;
  height: 1rem;
  padding-top: 0.5rem;
  padding-bottom: 1rem;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  width: 16rem;
}
.Login .foot .tac{
  min-width: 70%;
}


@media (orientation: portrait) {
  .Login {
    margin-top: 1rem;
  }
  .ls{
    display: none;
  }
  .Login form {
    width: 100%;
  }
  .Login .foot .rem .remme {
    min-width: 20%;
  }
  .Login .foot input[type="checkbox"] {
    height: 0.8rem;
    margin-left: -5rem;
  }
}
