:root {
  --dark: #000000;
  --secondary-dark: #303030;
  --light: #ffffff;
  --primary: #2fcdff;
  --gray: #bbbbbb;
}

body {
  background: var(--dark);
  font-family: "Poppins", sans-serif;
}

.img-p {
  height: 22rem;
  width: 18rem;
  background: var(--gray);
}

.col-class {
  color: var(--primary);
}

button {
  background: var(--primary);
  font-size: 1rem;
  color: var(--dark);
  min-width: 8rem;
  border: none;
  min-height: 2rem;
  border-radius: 0.4rem;
  transition: ease 0.3s;
  cursor: pointer;
}

button:hover {
  transform: scale(1.1);
}

.container {
  width: 80vw;
  display: flex;
  background: none;
  margin-bottom: 24vh;
  margin-left: auto;
  margin-right: auto;
}
