.CourseDetail #hero-course {
  background-color: var(--primary);
  width: 96vw;
  margin-top: -4rem;
  border-radius: 0.5rem;
  padding: 1.2rem 0;
  justify-content: space-around;
  align-items: center;
}
#pfile,
.pfile {
  margin-right: 1rem;
  background-color: var(--dark);
  content: "";
  height: 2.4rem;
  width: 2.4rem;
  border-radius: 10rem;
}
.fot {
  display: flex;
  justify-content: start;
  align-items: center;
}
.left-course {
  width: fit-content;
}
.CourseDetail .enroll {
  color: var(--light);
  margin-top: 1.5rem;
  background-color: var(--secondary-dark);
}
.CourseDetail .right-course .course-box {
  width: 20vw;
  color: var(--dark);
  border-radius: 1rem;
  background-color: #fff;
  height: fit-content;
  padding: 0.5rem 1.5rem;
}
.cb-1 {
  border-bottom: 1px solid var(--dark);
}
.cb-2 {
  border-bottom: 1px solid var(--dark);
}
.cb-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 0.5rem;
  margin-top: 1.2rem;
  width: 100%;
}
.course-box-head {
  font-size: 1.2rem;
  text-align: center;
}
.course-box-desc {
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: -0.5rem;
}
.course-box li i {
  margin-right: 0.8rem;
}

.course-box-list li {
  display: flex;
  align-items: center;
  margin-top: -1rem;
}
.course-box {
  font-size: 1rem;
  font-weight: 400;
}

.sub {
  margin-top: -0.8rem;
  font-size: 0.8rem;
  margin-left: 12%;
  font-weight: 200;
}
#related-sec {
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#related {
  display: flex;
}
.course-nav {
  margin-top: -2rem;
  border-bottom: 1px solid var(--light);
}
.course-nav-ul {
  font-weight: 400;
  font-size: 1.1rem;
  list-style: none;
  display: flex;
  width: 50vw;
  justify-content: space-between;
}
.course-nav-li {
  cursor: pointer;
}
.course-nav-li:hover {
  color: var(--primary);
}
.rm {
  margin-right: 1rem;
}
.sub-c {
  font-weight: 100;
  margin-left: 2.5rem;
  width: 50vw;
  margin-top: -1.2rem;
  font-size: 1rem;
}
#what-c-li {
  display: flex;
  font-size: 1.3rem;
  align-items: center;
}
#what-c {
  margin-top: 2rem;
  margin-left: 8rem;
}
#what-c-li {
  margin-right: 1rem;
}
#what-c-ul {
  list-style: none;
}
#about-c {
  margin-top: 1rem;
  width: 72vw;
  margin-left: 8rem;
}
#content-c,
#ass-c {
  margin-left: 8rem;
}
#ass-c {
  width: 72vw;
  font-size: 1.2rem;
  font-weight: 200;
}
#content-main-li {
  font-weight: 400;
  font-size: 1.2rem;
}
#content-child-li {
  font-size: 1rem;
  font-weight: 200;
}
.CourseDetailinst {
  display: flex;
  justify-content: space-evenly;
}
#inst-c {
  margin-left: 8rem;
  margin-top: 4rem;
}
.inst {
  display: flex;
  align-items: center;
}
#inst-c .inst-abt {
  width: 64vw;
}
.pfile {
  width: 7rem;
  height: 7rem;
  background-color: var(--primary);
}
#rev-c {
  margin-left: 8rem;
}
#rev-head {
  font-weight: 400;
  margin-top: 4rem;
  font-size: 1.4rem;
}
.ratings {
  display: flex;
  width: fit-content;
  gap: 1.2rem;
  justify-content: space-evenly;
}

@media screen and (max-width: 981px) {
  .CourseDetail #hero-course {
    flex-direction: column;
    margin: 0;
    padding: 0;
    padding-bottom: 2rem;
    gap: 4rem;
  }
  .CourseDetail .right-course .course-box {
    width: 72vw;
  }
  .sub {
    font-weight: 300;
  }
  .course-nav {
    margin-top: 0;
    width: 100%;
  }
  .course-nav-ul {
    font-size: 1.4rem;
    padding: 0;
    margin-bottom: 3rem;
    margin-top: 3rem;
    /* list-style: disc; */
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  #related {
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
  }
  #what-c,
  #about-c,
  #content-c,
  #ass-c,
  #inst-c,
  #rev-c {
    margin-left: 1rem;
  }
  #about-c {
    width: 88vw;
  }
  #ass-c {
    width: 88vw;
    font-size: 1rem;
  }
  .pfile {
    width: 6rem;
    height: 6rem;
  }
  #rev-c{
    margin-bottom: 4rem;
  }
}
