.card-container {
  width: 70vw;
  margin-inline: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20vh;
}
.nav2 {
  font-size: 1.2rem;
  color: var(--light);
  margin-left: 1rem;
}
.courses-heading {
  text-align: center;
  font-size: 2.2rem;
}

@media (orientation: portrait) {
  .card-container {
    width: 99vw;
  }
  .courses-heading {
    margin-left: 2rem;
  }
}
