.card-container {
  width: 80vw;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 20vh;
}

.courses-heading {
  margin-left: 9rem;
  font-size: 2.2rem;
}

@media (orientation: portrait) {
  .card-container {
    width: 99vw;
  }
  .courses-heading {
    margin-left: 4rem;
  }
}
