.feedback-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 4.2rem;
  margin-top: 2.4;
  gap: 2rem;
}
.feedback-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 4rem;
  align-items: center;
}
.feedback-form form label {
  font-size: 1rem;
}
.feedback-form form input {
  min-width: 20rem;
  min-height: 1.8rem;
  padding-left: 0.8rem;
  color: var(--light);
  border: var(--secondary-dark) 1px solid;
  background: none;
  margin-bottom: 1rem;
  margin-top: 0.4rem;
}
.feedback-form form .feedback-field {
  min-height: 4rem;
}
.feedback-form form button{
    min-width: 20rem;
}
