.mentor-main {
  display: flex;
  height: fit-content;
  justify-content: center;
  margin-bottom: 20vh;
}
.ls-m {
  min-width: 35%;
  padding-left: 4rem;
  /* border: 1px solid white; */
}
.rs-m {
  min-width: 55%;
  padding: 1rem;
  /* border: 1px solid var(--primary); */
}
.ls-m h1 {
  font-size: 2.4rem;
}
.ls-m p {
  font-size: 1.2rem;
}
.apply-mentor {
  min-width: 12rem;
  min-height: 2rem;
  padding: 0.4rem;
}
.col-m {
  display: flex;
  justify-content: center;
}

.card-m {
  display: flex;
  color: var(--dark);
  flex-direction: column;
  font-size: 0.9rem;
  align-items: center;
  transform: translateY(-2.4rem);
  margin: 1rem;
  justify-content: flex-start;
  border-radius: 0.4rem;
  background: var(--gray);
  min-width: 10rem;
  min-height: 11rem;
}

.mid {
  transform: translateY(1rem);
}

.profile-pic {
  border-radius: 1000000rem;
  margin-bottom: 1rem;
  margin-top: 1.6rem;
  background-image: url("../../assets/profile.png");
  min-width: 4rem;
  min-height: 4rem;
}

@media (orientation: portrait) {
  .ls-m {
    min-width: 100%;
  }
  .rs-m {
    min-width: 100vw;
    width: 1rem;
    margin-top: 2rem;
  }
  .col-m {
    justify-content: center;
  }
  .card-m {
    transform: scale(0.9);
    font-size: 0.7rem;
    font-weight: bold;
    min-height: 9rem;
    min-width: 8rem;
    margin: 0rem;
  }
  .mid {
    transform: scale(0.9) translateY(2rem);
  }
  .mentor-main {
    flex-direction: column;
    align-items: center;
    width: 100vw;
  }
}
