.Card {
  margin-left: 0.7rem;
  margin-right: 0.7rem;
  padding: 1rem;
  backdrop-filter: blur(17px) saturate(158%);
  -webkit-backdrop-filter: blur(17px) saturate(158%);
  background-color: rgba(17, 25, 40, 0.54);
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.125);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.c-head {
  display: flex;
  flex-direction: column;
  width: 90%;
  align-items: center;
  margin-bottom: 1rem;
}
.c-name {
  font-size: 1.2rem;
  font-weight: 300;
}
.circle {
  width: 4rem;
  background: var(--secondary-dark);
  margin-bottom: 2.4rem;
  margin-top: 0.8rem;
  border-radius: 10rem;
  height: 4rem;
}
