.refund-policy {
  color: var(--light);
  display: flex;
  flex-direction: column;
  margin-top: -4rem;
  align-items: center;
  width: 100%;
}
.scroll-container {
  height: 70vh;
  padding: 1rem;
  overflow-y: scroll;
  margin-bottom: 8rem;
  width: 82vw;
}

.scroll-container::-webkit-scrollbar {
  width: 12px;
}

.scroll-container::-webkit-scrollbar-thumb {
  background-color: var(--primary);
}

.scroll-container {
  scrollbar-color: var(--primary) transparent;
}

.scroll-container::-moz-scrollbar-track {
  background-color: transparent;
}
