.Navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  max-width: 99vw;
  margin-bottom: 5rem;
  color: var(--light);
  font-family: "Poppins";
}
.Navbar .e2 ul .dropdown {
  position: relative;
}

.Navbar .e2 ul .dropdown p:hover {
  border-bottom: 1px solid var(--dark);
}

.Navbar .e2 ul .dropdown-menu {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 100%;
  width: fit-content;
  left: 0;
  background: var(--secondary-dark);
  list-style: none;
  padding: 0.5rem;
  border-radius: 0.2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.Navbar .e2 ul .dropdown-menu li {
  cursor: pointer;
  padding: 0.5rem;
  transition: background 0.2s;
}

.Navbar .e2 ul .dropdown-menu li:hover {
  background: var(--dark);
}

.hbm {
  display: none;
}
.Navbar .e2 ul {
  margin-top: 0;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  min-width: 32em;
}
.Navbar .e2 ul li {
  font-size: 1.2rem;
}

.Navbar .e1 {
  margin-right: auto;
  margin-left: 1.2rem;
}

.Navbar .e1 img {
  width: 14rem;
  margin: 0;
}
.Navbar .e3 {
  margin-right: 1rem;
  margin-left: auto;
  display: flex;
  justify-content: baseline;
}

.Navbar .e2 ul li p {
  cursor: pointer;
  transition: all 0.2s;
}
.Navbar .e2 ul li p:hover {
  border-bottom: 1px solid var(--primary);
}
.login-btn {
  background: none;
  color: var(--light);
  border: 1px solid var(--gray);
  margin-right: 1rem;
}
.sidebar-close {
  display: none;
  transform: translateX(10rem);
  transition: all 0.3s;
}
.sidebar-open {
  position: fixed;
  transition: all 0.3s;
  transform: translateX(0);
  background: var(--secondary-dark);
  height: 100vh;
  width: 60vw;
  padding-left: 1rem;
  right: 0;
  z-index: 100;
  top: -1rem;
}

.Navbar .mode-btn {
  font-size: 2rem;
  cursor: pointer;
  margin-right: 2rem;
}

.close {
  font-size: 2rem;
  color: var(--primary);
  position: absolute;
  top: -4%;
  right: 8%;
  cursor: pointer;
}
@media screen and (max-width: 918px) {
  .Navbar .e1 img {
    width: 50vw;
  }
}
@media screen and (max-width: 1120px) {
  .Navbar .e1 img {
    width: 24vw;
  }
  .Navbar .e2,
  .Navbar .e3 {
    display: none;
  }
  .hbm {
    display: block;
    filter: opacity(0.7);
    position: fixed;
    z-index: 1000;
    font-size: 1.8rem;
    top: 2.4%;
    right: 4%;
    width: 2rem;
    color: var(--light);
  }
  .Navbar {
    margin-bottom: 2rem;
  }
}
