.top img {
  width: 24rem;
}

.course-card {
  width: 24rem;
  margin: 1.5rem;
}
.course-card i {
  color: yellow;
}
.course-card .body .body-sub {
  display: flex;
  justify-content: space-between;
  height: fit-content;
}
.bot {
  margin-top: -1rem;
  font-weight: 400;
  font-size: 1.4rem;
}

@media screen and (orientation: portrait) {
  .course-card {
    font-size: 0.7rem;
    width: 72%;
    margin-inline: auto;
    transform: translateX(-0.5rem);
  }
  .top img {
    width: 18rem;
  }
}
