.ls-c {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rs-c {
  text-align: right;
  min-width: 50%;
  display: flex;
  justify-content: center;
}
.ls-c img{
    width: 30rem;
}
.rs-c img{
    z-index: 10;
    width: 20rem;

}
