.ls-c {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.rs-c {
  text-align: right;
  min-width: 50%;
  display: flex;
  font-size: 1.4rem;
  justify-content: center;
}
.work-und {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: -5rem;
}
.ls-c img {
  width: 30rem;
}
.rs-c img {
  z-index: 10;
  width: 22rem;
}
