.ls-c {
  min-width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.com {
  flex-direction: column;
  margin-top: -4rem;
}
.com-ul i {
  margin-right: 0.8rem;
  margin-bottom: 0.8rem;
}
.Community ul {
  list-style: none;
}
.rs-c {
  min-width: 50%;
  display: flex;
  font-size: 1.4rem;
  flex-direction: column;
  justify-content: center;
}
.work-und {
  display: flex;
  flex-direction: column;
  align-items: end;
  margin-bottom: -5rem;
}
.ls-c img {
  width: 30rem;
}
.rs-c img {
  z-index: 10;
  width: 22rem;
}

@media (orientation: portrait) {
  .Community .container {
    flex-direction: column-reverse;
  }
  .Community .com {
    flex-direction: column;
    margin-top: -5rem;
  }
  .work-und {
    margin-bottom: -3.7rem;
  }
  .rs-c {
    font-size: 1rem;
  }
  .rs-c img {
    width: 16rem;
  }
  .ls-c img {
    width: 20rem;
    margin-top: 2rem;
    margin-bottom: -8rem;
  }
}
